body {
  color: black;
  background-color: #F0E68C;
  text-align: center;
  font-size: 30px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #800000;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #800000;
  text-align: center;
  font-size: 70px;
}

h2 {
  color: #800000;
  text-align: center;
  font-size: 30px;
}
h3 {
  color: #800000;
  text-align: center;
  font-size: 30px;
}
